---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/mkrumholz/little-shop-of-rails/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ad86d24746d141fa200bec410aef93743affebbef832c8ef41a466a523a44da8"
      Last-Modified:
      - Mon, 16 Aug 2021 19:39:02 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1629159653'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"mkrumholz","id":26797256,"node_id":"MDQ6VXNlcjI2Nzk3MjU2","avatar_url":"https://avatars.githubusercontent.com/u/26797256?v=4","gravatar_id":"","url":"https://api.github.com/users/mkrumholz","html_url":"https://github.com/mkrumholz","followers_url":"https://api.github.com/users/mkrumholz/followers","following_url":"https://api.github.com/users/mkrumholz/following{/other_user}","gists_url":"https://api.github.com/users/mkrumholz/gists{/gist_id}","starred_url":"https://api.github.com/users/mkrumholz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mkrumholz/subscriptions","organizations_url":"https://api.github.com/users/mkrumholz/orgs","repos_url":"https://api.github.com/users/mkrumholz/repos","events_url":"https://api.github.com/users/mkrumholz/events{/privacy}","received_events_url":"https://api.github.com/users/mkrumholz/received_events","type":"User","site_admin":false,"contributions":258},{"login":"LawrenceWhalen","id":78388882,"node_id":"MDQ6VXNlcjc4Mzg4ODgy","avatar_url":"https://avatars.githubusercontent.com/u/78388882?v=4","gravatar_id":"","url":"https://api.github.com/users/LawrenceWhalen","html_url":"https://github.com/LawrenceWhalen","followers_url":"https://api.github.com/users/LawrenceWhalen/followers","following_url":"https://api.github.com/users/LawrenceWhalen/following{/other_user}","gists_url":"https://api.github.com/users/LawrenceWhalen/gists{/gist_id}","starre[...]
