---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/mkrumholz/little-shop-of-rails/pulls?state=closed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"71d382a542f9e7441de71eac397baeb04c62790ba4f12bde4445eaf755503cc5"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1629159652'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/pulls/34","id":713687037,"node_id":"MDExOlB1bGxSZXF1ZXN0NzEzNjg3MDM3","html_url":"https://github.com/mkrumholz/little-shop-of-rails/pull/34","diff_url":"https://github.com/mkrumholz/little-shop-of-rails/pull/34.diff","patch_url":"https://github.com/mkrumholz/little-shop-of-rails/pull/34.patch","issue_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/issues/34","number":34,"state":"closed","locked":false,"title":"Add
        config for CircleCI","user":{"login":"mkrumholz","id":26797256,"node_id":"MDQ6VXNlcjI2Nzk3MjU2","avatar_url":"https://avatars.githubusercontent.com/u/26797256?v=4","gravatar_id":"","url":"https://api.github.com/users/mkrumholz","html_url":"https://github.com/mkrumholz","followers_url":"https://api.github.com/users/mkrumholz/followers","following_url":"https://api.github.com/users/mkrumholz/following{/other_user}","gists_url":"https://api.github.com/users/mkrumholz/gists{/gist_id}","starred_url":"https://api.github.com/users/mkrumholz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mkrumholz/subscriptions","organizations_url":"https://api.github.com/users/mkrumholz/orgs","repos_url":"https://api.github.com/users/mkrumholz/repos","events_url":"https://api.github.com/users/mkrumholz/events{/privacy}","received_events_url":"https://api.github.com/users/mkrumholz/received_events","type":"User","site_admin":false},"body":"##
        Changes\r\n\r\nAdd base config for CircleCI\r\n","created_at":"2021-08-16T19:22:51Z","updated_at":"2021-08-16T19:23:06Z","closed_at":"2021-08-16T19:23:06Z","merged_at":"2021-08-16T19:23:06Z","merge_commit_sha":"83303d57c6362462371c625cd49f8bb624629ea4","assignee":{"login":"mkrumholz","id":26797256,"node_id":"MDQ6VXNlcjI2Nzk3MjU2","avatar_url":"https://avatars.githubusercontent.com/u/26797256?v=4","gravatar_id":"","url":"https://api.github.com/users/mkrumholz","html_url":"https://github.com/mkrumholz","followers_url":"https://api.github.com/users/mkrumholz/followers","following_url":"https://api.github.com/users/mkrumholz/following{/other_user}","gists_url":"https://api.github.com/users/mkrumholz/gists{/gist_id}","starred_url":"https://api.github.com/users/mkrumholz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mkrumholz/subscriptions","organizations_url":"https://api.github.com/users/mkrumholz/orgs","repos_url":"https://api.github.com/users/mkrumholz/repos","events_url":"https://api.github.com/users/mkrumholz/events{/privacy}","received_events_url":"https://api.github.com/users/mkrumholz/received_events","type":"User","site_admin":false},"assignees":[{"login":"mkrumholz","id":26797256,"node_id":"MDQ6VXNlcjI2Nzk3MjU2","avatar_url":"https://avatars.githubusercontent.com/u/26797256?v=4","gravatar_id":"","url":"https://api.github.com/users/mkrumholz","html_url":"https://github.com/mkrumholz","followers_url":"https://api.github.com/users/mkrumholz/followers","following_url":"https://api.github.com/users/mkrumholz/following{/other_user}","gists_url":"https://api.github.com/users/mkrumholz/gists{/gist_id}","starred_url":"https://api.github.com/users/mkrumholz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mkrumholz/subscriptions","organizations_url":"https://api.github.com/users/mkrumholz/orgs","repos_url":"https://api.github.com/users/mkrumholz/repos","events_url":"https://api.github.com/users/mkrumholz/events{/privacy}","received_events_url":"https://api.github.com/users/mkrumholz/received_events","type":"User","site_admin":false}],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/pulls/34/commits","review_comments_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/pulls/34/comments","review_comment_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/issues/34/comments","statuses_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/statuses/763c872e5f8d04426696ccf1d0640082dba1d94f","head":{"label":"mkrumholz:circle_setup","ref":"circle_setup","sha":"763c872e5f8d04426696ccf1d0640082dba1d94f","user":{"login":"mkrumholz","id":26797256,"node_id":"MDQ6VXNlcjI2Nzk3MjU2","avatar_url":"https://avatars.githubusercontent.com/u/26797256?v=4","gravatar_id":"","url":"https://api.github.com/users/mkrumholz","html_url":"https://github.com/mkrumholz","followers_url":"https://api.github.com/users/mkrumholz/followers","following_url":"https://api.github.com/users/mkrumholz/following{/other_user}","gists_url":"https://api.github.com/users/mkrumholz/gists{/gist_id}","starred_url":"https://api.github.com/users/mkrumholz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mkrumholz/subscriptions","organizations_url":"https://api.github.com/users/mkrumholz/orgs","repos_url":"https://api.github.com/users/mkrumholz/repos","events_url":"https://api.github.com/users/mkrumholz/events{/privacy}","received_events_url":"https://api.github.com/users/mkrumholz/received_events","type":"User","site_admin":false},"repo":{"id":375818593,"node_id":"MDEwOlJlcG9zaXRvcnkzNzU4MTg1OTM=","name":"little-shop-of-rails","full_name":"mkrumholz/little-shop-of-rails","private":false,"owner":{"login":"mkrumholz","id":26797256,"node_id":"MDQ6VXNlcjI2Nzk3MjU2","avatar_url":"https://avatars.githubusercontent.com/u/26797256?v=4","gravatar_id":"","url":"https://api.github.com/users/mkrumholz","html_url":"https://github.com/mkrumholz","followers_url":"https://api.github.com/users/mkrumholz/followers","following_url":"https://api.github.com/users/mkrumholz/following{/other_user}","gists_url":"https://api.github.com/users/mkrumholz/gists{/gist_id}","starred_url":"https://api.github.com/users/mkrumholz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mkrumholz/subscriptions","organizations_url":"https://api.github.com/users/mkrumholz/orgs","repos_url":"https://api.github.com/users/mkrumholz/repos","events_url":"https://api.github.com/users/mkrumholz/events{/privacy}","received_events_url":"https://api.github.com/users/mkrumholz/received_events","type":"User","site_admin":false},"html_url":"https://github.com/mkrumholz/little-shop-of-rails","description":"A
        fictitious e-commerce platform where merchants and admins can manage inventory
        and fulfill customer invoices.","fork":true,"url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails","forks_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/forks","keys_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/teams","hooks_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/hooks","issue_events_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/issues/events{/number}","events_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/events","assignees_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/assignees{/user}","branches_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/branches{/branch}","tags_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/tags","blobs_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/git/refs{/sha}","trees_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/statuses/{sha}","languages_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/languages","stargazers_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/stargazers","contributors_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/contributors","subscribers_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/subscribers","subscription_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/subscription","commits_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/commits{/sha}","git_commits_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/git/commits{/sha}","comments_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/comments{/number}","issue_comment_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/issues/comments{/number}","contents_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/contents/{+path}","compare_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/merges","archive_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/downloads","issues_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/issues{/number}","pulls_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/pulls{/number}","milestones_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/milestones{/number}","notifications_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/labels{/name}","releases_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/releases{/id}","deployments_url":"https://api.github.com/repos/mkrumholz/little-shop-of-rails/deployments","created_at":"2021-06-10T20:08:59Z","updated_at":"2021-08-16T19:39:02Z","pushed_at":"2021-08-16T23:03:22Z","git_url":"git://github.com/mkrumholz/little-shop-of-rails.git","ssh_url":"git@github.com:mkrumholz/little-shop-of-rails.git","clone_url":"https://github.com/mkrumholz/little-shop-of-rails.git","svn_url":"https://github.com/mkrumholz/little-shop-of-rails","homepage":"https://little-shop-of-rails.herokuapp.com/","size":1597,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":8,"license":null,"forks":0,"open_issues":8,"watchers":0,"default_branch":"main"}},"base":{"label":"mkrumholz:main","ref":"main","sha":"3e069d76099e0f4392daf367543d75cd51209355","user":{"login":"mkrumholz","id":26797256,"node_id":"MDQ6VXNlcjI2Nzk3MjU2","avatar_url":"https://avatars.githubusercontent.com/u/26797256?v=4","gravatar_id":"","url":"https://api.github.com/users/mkrumholz","html_url":"https://github.com/mkrumholz","followers_url":"https://api.github.com/users/mkrumholz/followers","following_url":"https://api.github.com/users/mkrumholz/following{/other_user}","gists_url":"htt[...]
