<%= render partial: './partials/admin_nav' %>

<h1 id="dash">Admin Dashboard</h1>

<h2>Top 5 Customers:</h2>
<ol>
  <% @top_customers.each do |customer| %>
    <li><%= "#{customer.first_name} #{customer.last_name}: #{customer.tran_count} transactions" %></li>
  <% end %>
</ol><br>

<h2>Incomplete Invoices</h2>
<ul>
  <% @incomplete_invoices.each do |invoice| %>
    <li><%= link_to( "Invoice #{invoice.id}", "/admin/invoices/#{invoice.id}" ) %> <%= "Created on: #{invoice.created_at.strftime('%A, %B %d, %Y')}"%></li>
  <% end %>
</ul>
