<h1>Admin Merchant Index</h1>

<h3>All Merchants</h3>
<ul id="merchant-list">
  <% @merchants.each do |merchant| %>
    <li><%= link_to merchant.name, "/admin/merchants/#{merchant.id}" %></li>
  <% end %>
</ul>
