<h1>Admin Merchant Index</h1>

<h3>All Merchants</h3>
<ul id="merchant-list">
  <% @merchants.each do |merchant| %>
    <li id="merchant-<%=merchant.id%>"><%= link_to merchant.name, admin_merchant_path(merchant.id) %></li>
  <% end %>
</ul>
