<% content_for :merchant do %>
  <%= render partial: './partials/merchant_nav' %>
<% end %>

<h3>My Invoices</h3>
<% @merchant_invoices.each do |invoice| %>
  <p> <%= link_to "Invoice ##{invoice.id}", "/merchants/#{@merchant.id}/invoices/#{invoice.id}" %> </p>
<% end %>
